# Dependencies
node_modules/
.pnp/
.pnp.js

# Next.js build
.next/
out/

# Production
build/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug
npm-debug.log*

# Vercel
.vercel

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
